# Godot 4+ specific ignores
.godot/
/android/
.apk
/addons/
/android/
.vscode/2025-11-29 00:14:25.900 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [231ms]
2025-11-29 00:14:26.800 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:14:29.840 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:14:30.916 [info] > git config --get commit.template [7ms]
2025-11-29 00:14:30.917 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:14:30.932 [info] > git status -z -uall [8ms]
2025-11-29 00:14:30.933 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [2ms]
2025-11-29 00:14:32.073 [info] > git check-ignore -v -z --stdin [2ms]
2025-11-29 00:14:33.081 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:14:34.367 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:14:35.948 [info] > git config --get commit.template [7ms]
2025-11-29 00:14:35.949 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:14:35.965 [info] > git status -z -uall [8ms]
2025-11-29 00:14:35.965 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:14:42.864 [info] > git config --get commit.template [10ms]
2025-11-29 00:14:42.865 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:14:42.881 [info] > git status -z -uall [9ms]
2025-11-29 00:14:42.882 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [2ms]
2025-11-29 00:14:42.906 [info] > git check-ignore -v -z --stdin [2ms]
2025-11-29 00:14:55.598 [info] > git check-ignore -v -z --stdin [2ms]
2025-11-29 00:14:55.935 [info] > git config --get commit.template [8ms]
2025-11-29 00:14:55.936 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [2ms]
2025-11-29 00:14:55.950 [info] > git status -z -uall [7ms]
2025-11-29 00:14:55.951 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [2ms]
2025-11-29 00:14:59.885 [info] > git check-ignore -v -z --stdin [2ms]
2025-11-29 00:15:00.969 [info] > git config --get commit.template [8ms]
2025-11-29 00:15:00.970 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [2ms]
2025-11-29 00:15:00.984 [info] > git status -z -uall [7ms]
2025-11-29 00:15:00.984 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:15:01.714 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:15:06.005 [info] > git config --get commit.template [10ms]
2025-11-29 00:15:06.005 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:15:06.021 [info] > git status -z -uall [9ms]
2025-11-29 00:15:06.021 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:15:09.843 [info] > git check-ignore -v -z --stdin [1ms]
2025-11-29 00:15:14.598 [info] > git log --format=%H%n%aN%n%aE%n%at%n%ct%n%P%n%D%n%B -z --shortstat --diff-merges=first-parent -n50 --skip=0 --topo-order --decorate=full --stdin [5366ms]
2025-11-29 00:15:15.329 [info] > git merge-base master origin/master [2ms]
2025-11-29 00:15:20.257 [info] > git add -A -- . [841ms]
2025-11-29 00:15:21.437 [info] > git ls-files --stage -- .gitignore [2ms]
2025-11-29 00:15:21.445 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:15:21.455 [info] > git show --textconv :.gitignore [2ms]
2025-11-29 00:15:21.558 [info] > git -c user.useConfigOnly=true commit --quiet --allow-empty-message --file - [1294ms]
2025-11-29 00:15:21.558 [info] Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: no email was given and auto-detection is disabled
2025-11-29 00:15:21.566 [info] > git config --get-all user.name [1ms]
2025-11-29 00:15:21.582 [info] > git config --get commit.template [8ms]
2025-11-29 00:15:21.583 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:15:21.602 [info] > git status -z -uall [11ms]
2025-11-29 00:15:21.602 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:15:21.675 [info] > git show --textconv HEAD:.gitignore [9ms]
2025-11-29 00:15:21.676 [info] > git ls-tree -l HEAD -- .gitignore [2ms]
2025-11-29 00:15:27.973 [info] > git config --get commit.template [8ms]
2025-11-29 00:15:27.989 [info] > git ls-files --stage -- .gitignore [9ms]
2025-11-29 00:15:27.996 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [24ms]
2025-11-29 00:15:27.997 [info] > git ls-tree -l HEAD -- .gitignore [9ms]
2025-11-29 00:15:27.998 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [2ms]
2025-11-29 00:15:28.014 [info] > git status -z -uall [7ms]
2025-11-29 00:15:28.031 [info] > git show --textconv HEAD:.gitignore [8ms]
2025-11-29 00:15:28.031 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [17ms]
2025-11-29 00:15:28.033 [info] > git show --textconv :.gitignore [3ms]
2025-11-29 00:16:01.606 [info] > git fetch [568ms]
2025-11-29 00:16:01.606 [info] Missing or invalid credentials.
Skip silent fetch commands
Host key verification failed.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
2025-11-29 00:16:01.617 [info] > git config --get commit.template [5ms]
2025-11-29 00:16:01.618 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:16:01.629 [info] > git status -z -uall [5ms]
2025-11-29 00:16:01.630 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:16:02.230 [info] > git ls-files --stage -- .gitignore [7ms]
2025-11-29 00:16:02.236 [info] > git ls-tree -l HEAD -- .gitignore [7ms]
2025-11-29 00:16:02.237 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:16:02.249 [info] > git show --textconv HEAD:.gitignore [6ms]
2025-11-29 00:16:02.250 [info] > git show --textconv :.gitignore [1ms]
2025-11-29 00:16:37.258 [info] > git -c user.useConfigOnly=true commit --quiet --allow-empty-message --file - [732ms]
2025-11-29 00:16:37.266 [info] > git config --get commit.template [2ms]
2025-11-29 00:16:37.275 [info] > git config --get commit.template [1ms]
2025-11-29 00:16:37.283 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [2ms]
2025-11-29 00:16:37.295 [info] > git status -z -uall [6ms]
2025-11-29 00:16:37.296 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:16:37.314 [info] > git merge-base refs/heads/master refs/remotes/origin/master [2ms]
2025-11-29 00:16:37.320 [info] > git blame --root --incremental 0818036c56ae498bb237a05eada9c2705a183bd4 -- .gitignore [16ms]
2025-11-29 00:16:37.324 [info] > git diff --name-status -z --diff-filter=ADMR --find-renames=50% 75bffdd901a48371d05672d745efa3deb1ee5df9...refs/remotes/origin/master -- [4ms]
2025-11-29 00:16:37.355 [info] > git config --get commit.template [7ms]
2025-11-29 00:16:37.356 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:16:37.370 [info] > git status -z -uall [7ms]
2025-11-29 00:16:37.371 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [2ms]
2025-11-29 00:16:37.487 [info] > git log --format=%H%n%aN%n%aE%n%at%n%ct%n%P%n%D%n%B -z --shortstat --diff-merges=first-parent -n50 --skip=0 --topo-order --decorate=full --stdin [147ms]
2025-11-29 00:16:37.515 [info] > git merge-base master origin/master [1ms]
2025-11-29 00:16:38.480 [info] > git ls-files --stage -- .gitignore [1ms]
2025-11-29 00:16:38.487 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:16:38.496 [info] > git show --textconv :.gitignore [2ms]
2025-11-29 00:16:39.006 [info] > git log --oneline --cherry master...master@{upstream} -- [1ms]
2025-11-29 00:16:40.202 [info] > git ls-files --stage -- .gitignore [1ms]
2025-11-29 00:16:40.209 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:16:40.218 [info] > git show --textconv :.gitignore [2ms]
2025-11-29 00:16:46.454 [info] > git pull --tags origin master [7441ms]
2025-11-29 00:16:46.454 [info] Warning: Permanently added 'github.com' (ED25519) to the list of known hosts.
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
2025-11-29 00:16:46.467 [info] > git config --get commit.template [6ms]
2025-11-29 00:16:46.468 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:16:46.480 [info] > git status -z -uall [6ms]
2025-11-29 00:16:46.480 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:16:50.165 [info] > git log --oneline --cherry master...master@{upstream} -- [1ms]
2025-11-29 00:16:50.915 [info] > git pull --tags origin master [744ms]
2025-11-29 00:16:50.915 [info] git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
2025-11-29 00:16:50.927 [info] > git config --get commit.template [6ms]
2025-11-29 00:16:50.928 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [1ms]
2025-11-29 00:16:50.941 [info] > git status -z -uall [7ms]
2025-11-29 00:16:50.941 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [1ms]
2025-11-29 00:16:57.138 [info] > git ls-files --stage -- .gitignore [2ms]
2025-11-29 00:16:57.146 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [2ms]
2025-11-29 00:16:57.201 [info] > git show --textconv :.gitignore [1ms]
2025-11-29 00:17:01.484 [info] > git show --textconv :.gitignore [8ms]
2025-11-29 00:17:01.484 [info] > git ls-files --stage -- .gitignore [1ms]
2025-11-29 00:17:01.491 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:17:07.894 [info] > git log --oneline --cherry master...master@{upstream} -- [2ms]
2025-11-29 00:17:08.670 [info] > git pull --tags origin master [770ms]
2025-11-29 00:17:08.670 [info] git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
2025-11-29 00:17:08.683 [info] > git config --get commit.template [6ms]
2025-11-29 00:17:08.685 [info] > git for-each-ref --format=%(refname)%00%(upstream:short)%00%(objectname)%00%(upstream:track)%00%(upstream:remotename)%00%(upstream:remoteref) refs/heads/master refs/remotes/master [2ms]
2025-11-29 00:17:08.696 [info] > git status -z -uall [6ms]
2025-11-29 00:17:08.697 [info] > git for-each-ref --sort -committerdate --format %(refname)%00%(objectname)%00%(*objectname) [2ms]
2025-11-29 00:17:10.684 [info] > git ls-files --stage -- .gitignore [2ms]
2025-11-29 00:17:10.690 [info] > git cat-file -s 1398cbeb5acd10e1b0ccc62b77cdabd5a9e65482 [1ms]
2025-11-29 00:17:10.726 [info] > git show --textconv :.gitignore [2ms]